html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #0a0a0a;
  color: #ededed;
  line-height: 1.6;
}

header img {
    width: 100px;
    height: auto;
}

header nav a {
    text-decoration: none;
    font-weight: 500;
    color: #d9d9d9
}

#logo img {
    width: 120px;
    display: block;
    margin: auto;
}

footer {
    position: fixed;
    bottom: 20px;
    right: 40px;

    display: flex;
    justify-content: flex-end;
    gap: 25px;

    padding: 0;
    background-color: transparent;
    z-index: 100;
}

footer img {
    width: 45px;
}

button, .btn {
    background-color: #702bff;
    color: #fff;
    border: none;
    padding: 12px 25px;
    font-size: 14px;
    font-weight: 600;
}

h1, h2, h3 {
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 1px;
}

.hero {
    background-image: url('../images/Fondo-.jpg');
    background-size: cover;
    background-position: center;

    height: 100vh;         
    max-height: 800px;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left:40px;
    padding-right: 60px;
    padding-top: 40px;    
    padding-bottom: 40px;
    padding: 0 60px;
    position: relative;
    color: #fff;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: transparent
}

.hero > * {
    z-index: 2;
}

.hero-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}

.hero-left .logo-panther {
    width: 400px;
    height: auto;
    margin-top: -60px;
}

.video-box video {
    width: 100%;
    border-radius: 8px;
}

.hero-right {
    width: 30%;
    text-align: left;
}

.hero-right .title {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1;
}

.hero-right .description {
    max-width: 350px;
    margin-left:0;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.5;
}

.hero-right .btn {
    margin-left: 0;
    display: inline-block;
}

.btn {
    background-color: #702bff;
    padding: 10px 60px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s
    
}

.btn:hover {
    background-color: #805aff;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    background-color: transparent;
}

.logo  {
    width: 22px;
    display: bold;
    color: white;

}

.menu {
    list-style: none;
    display: flex;
    gap: 70px;
    margin: 0;
    font-size: 15px;
}

.rectangulo {
    background-color: #702bff;
    border: 2px solid #702bff;
    border-radius: 30px;
    padding: 20px;
    margin: 60px 100;
}


article {
text-align: left;
padding-right: 20px;
z-index: 1;
}


h2 {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: left;
}

 h4 {
        font-size: 14px;
        margin-bottom: 15px;
        text-align: left;
}

.video-box {
    position: relative;
    width: 480px;
    height: 270px;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 15px;
    align-self: flex-start;
}

.hero-text {
  width: 45%;
  text-align: left;
}

.hero-left .hero-tagline {
    font-size: 18px;
    margin-top: -10px;   
    margin-bottom: 10px;
    color: #ffffff;
    opacity: 0.9;
}

.hero-left .sub {
    margin-top: -10px;
    margin-left: 5px;
    font-size: 18px;
    color: #ffffff;
    opacity: 0.9;
    font-weight: 400;
}

body {
    padding-bottom: 80px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    background-color: #0f0f0f;
}

header nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: transparent
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 65px;    
    padding: 0;
}

.menu a:hover {
    color: #702bff;
    transition: 0.2s ease-in-out;
}

footer img:hover {
    filter: brightness(7);
}

footer a {
    text-decoration: none !important;
}

footer a:hover,
footer a:focus,
footer a:visited {
    text-decoration: none !important;
}

.sobre-left .logo-panther {
    width: 300px;
    height: auto;
    display: block;
}

.sobre-container {
    background-image:url('../images/Fondo2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 60px;
}

.sobre-left {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}

.sobre-container {
    background-image: url('../images/Fondo2.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}


.sobre-left .logo-panther {
    width: 230px;
    margin-bottom: 10px;
}

.sobre-left .poster {
    width: 260px;
    border-radius: 10px;
}

.sobre-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.tabla {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.tabla .col h3 {
    color: #a47cff;
    font-size: 18px;
    margin-bottom: 10px;
}

.tabla .col hr {
    border: none;
    border-top: 2px solid #702bff;
    margin-bottom: 20px;
}

.tabla .col p {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 500;
}

.sinopsis-text {
    font-size: 12px;
    line-height: 3;
    max-width: 80%;
}

.sobre-container {
    background-image: url('../images/Fondo2.jpg'); 
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.sobre-left {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.sobre-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.detalles-container {
    display: grid;
    grid-template-columns: 1fr 1.2fr; 
    gap: 50px;
    align-items: start;
    margin-top: 200px;
}

.detalles-container h3 {
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid #702bff;
    padding-bottom: 8px;
    margin-bottom: 20px;
}

.fila {
    display: grid;
    grid-template-columns: 150px 1fr; 
    border-bottom: 1px solid #702bff;
    padding: 14px 0;
    width: 80%;  
}

.fila span:nth-child(1) {
    font-weight: 600;
    letter-spacing: 0.5px;
}

.fila span:nth-child(2) {
    font-weight: 400;
    opacity: 0.9;
}

.sinopsis-text {
    text-align: justify;
    line-height: 1.6;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
}

.sinopsis-text p {
    margin-bottom: 12px;
}

.fila-final {
    border-bottom: 2px solid #702bff;
    width: 230%;
    margin-top: 50px;
}

nav a.active {
    color: #702bff; 
    font-weight: 600;
}

nav a:hover {
    color: #fff
}


.reparto-container {
    display: flex;
    justify-content: space-between;
    padding: 120px 80px;
}

.cast-section {
    width: 45%;
}

.cast-title {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 25px;
    border-bottom: 2px solid #702bff;
    padding-bottom: 10px;
    width: 85%;
}

.cast-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.cast-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid #702bff;
    width: 85%;
}

.cast-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    filter: grayscale(100%);
}

.cast-item p {
    font-size: 18px;
    color: #ffffff;
}
.cast-item blackpanther {
    font-size: 14px;
    color: #702bff;
    margin-top: 4px;
}
.reparto-container {
    display: flex;
    justify-content: space-between;
    padding: 120px 80px;
}

.cast-section {
    width: 45%;
}

.cast-title {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 25px;
    border-bottom: 2px solid #702bff;
    padding-bottom: 10px;
    width: 85%;
}

.cast-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cast-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 12px;
    width: 85%;
    border-bottom: 1px solid #702bff;
}

.cast-item img {
    width: 35px;
    height: 35px;
    border-radius: 35%;
    object-fit: cover;
    filter: grayscale(100%);
}

.cast-item p {
    font-size: 16px;
    color: #ebebeb;
}

.cast-item.blackpanther {
    font-size: 14px;
    color: #702bff;
    margin-top: 4px;
}

.gallery-section {
    width: 45%;
}

.gallery-title {
    font-size: 18px;
    color: #fff;
    border-bottom: 2px solid #702bff;
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: 85%;
}

.gallery-box {
    background: transparent;
    border-radius: 25px;
    padding: 15px;
    width: 90%;
    position: relative;
}

input[type="radio"] {
    display: none;
}

.gallery-images {
    position: relative;
    width: 100%;
}

.gallery-images label {
    display: none;
}

.gallery-images img {
    width: 100%;
    border-radius: 15px;
}

#img1:checked ~ .gallery-images label:nth-child(1),
#img2:checked ~ .gallery-images label:nth-child(2),
#img3:checked ~ .gallery-images label:nth-child(3) {
    display: block;
}

.gallery-arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.arrow {
    background: #702bff;
    color: white;
    padding: 10px 14px;
    font-size: 22px;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.8;
}

.arrow:hover {
    opacity: 1;
}

.gallery-caption {
    margin-top: 12px;
    font-size: 14px;
    color: #fff;
    opacity: 0.85;
}

.reparto-container {
    width: 100%;
    height: 350px; 
    background-size: cover;     
    background-position: center; 
    background-repeat: no-repeat;
    margin-top: 0;
}

.reparto-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 80px;
}

.reparto-center .logo-panther {
    width: 300px;
    height: auto;
    display: block;
}


.reparto-center .logo-panther {
    width: 230px;
    margin-bottom: 10px;
}


.produccion-hero {
    background-image: url('../images/Fondo2.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 120px 80px;
    text-align: center;
}

.prod-title {
    font-size: 55px;
    font-weight: 700;
    color: #602bff;
    margin-bottom: 15px;
}

.prod-subtitle {
    max-width: 750px;
    margin: 0 auto;
    font-size: 18px;
    opacity: 0.9;
}

.produccion-grid {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 80px;
    text-align: left;
}

.prod-left h3,
.prod-right h3 {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}

.prod-left hr,
.prod-right hr {
    border: none;
    border-top: 1px solid rgb(90, 44, 255);
    margin: 8px 0 18px;
}

.prod-left p {
    margin-bottom: 35px;
    opacity: 0.9;
}


.prod-cards {
    display: flex;
    gap: 25px;
    margin-top: 30px;
}

.card {
    width: 33%;
    padding: 40px 25px;

    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.18),
        rgba(46, 46, 255, 0.329)
    );
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);

    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow:
        0 0 25px rgba(90, 90, 255, 0.298),
        inset 0 0 20px rgba(255, 255, 255, 0.08);

    border-radius: 25px;
    text-align: center;

    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow:
        0 0 35px rgba(61, 51, 255, 0.35),
        inset 0 0 25px rgba(255, 255, 255, 0.10);
}

.card h4 {
    color: white;
    font-size: 16px;
    margin-bottom: 12px;
    letter-spacing: 1px;
    line-height: 1.2;
    text-align: center;
}

.card p {
    font-size: 14px;
    opacity: 0.85;
}

.curiosidades-hero {
    background-image: url('../images/Fondo4.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;

    height: 70vh;
    min-height: 70vh;
    overflow: hidden;

    position: relative;
    display: flex;
    align-items: flex-start;
}

.curio-poster {
    width: 260px;
    border-radius: 10px;
    position: absolute;
    left: 80px;
    top: 200px;
}

.curio-logo {
    position: absolute;
    left: 380px;
    top: 210px;
    width: 300px;
}

.rating-box {
    position: absolute;
    left: 380px;
    top: 380px;
    background-color: #702bff;
    padding: 10px;
    border-radius: 15px;
    width: 180px;
    text-align: center;
}

.rating-box .star {
    font-size: 26px;
    font-weight: 700;
}

.rating-box .rating {
    font-size: 48px;
    font-weight: 700;
    margin-top: 10px;
}

.rating-box .details {
    margin-top: 10px;
    font-size: 14px;
    opacity: 0.9;
}

.curio-text {
    position: absolute;
    left: 380px;
    top: 520px;
    width: 55%;
}

.curio-text h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.curio-text ul {
    margin-bottom: 25px;
    font-size: 14px;
}

.curio-text ul li {
    margin-bottom: 10px;
}

.space {
    margin-top: 30px;
}

.curiosidades-page main {
    flex: 0 0 auto !important;
}

.curiosidades-page {
    height: auto !important;
    min-height: 100vh;
}

.curiosidades-contenido {
    padding: 50px 80px;
    color: white;
    background-color: black;
}

.subtitulo {
    color: #713dff;
    margin-bottom: 15px;
    margin-top: 40px;
    font-weight: bold;
}

.contact-container {
    margin-top: 80px;
    text-align: center;
    color: white;
}

.titulo-contacto {
    font-size: 35px;
    color: #7F2DFF;
    margin-bottom: 5px;
}

.subtitulo-contacto {
    margin-bottom: 40px;
    color: #ccc;
}

.formulario-contacto {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.formulario-contacto label {
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    margin-bottom: -10px;
}

.formulario-contacto input,
.formulario-contacto textarea {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 15px;
}

.formulario-contacto textarea {
    height: 120px;
    resize: none;
}

.btn-enviar {
    background: #7F2DFF;
    border: none;
    padding: 14px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-enviar:hover {
    background: #9b5fff;
}


.contact-container {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    color: white;
}

.titulo-contacto {
    font-size: 40px;
    font-weight: 700;
    color: #702bff; 
    margin-bottom: 10px;
    text-align: center;
}

.subtitulo-contacto {
    font-size: 16px;
    color: #ccc;
    margin-bottom: 40px;
    text-align: center;
}

.formulario-contacto {
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.formulario-contacto label {
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.formulario-contacto input,
.formulario-contacto textarea {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 15px;
    background: #ffffff;
}

.formulario-contacto textarea {
    height: 120px;
    resize: none;
}

.btn-enviar {
    width: 180px;
    align-self: center;
    margin-top: 10px;
    padding: 12px;
    background: #702bff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    transition: 0.3s ease;
}

.btn-enviar:hover {
    background: #702bff;
}

footer {
    margin-top: 60px;
    padding-bottom: 40px;
    text-align: center;
}

footer .redes i {
    font-size: 22px;
    margin: 0 10px;
    cursor: pointer;
}

.error-container {
    text-align: center;
    color: white;
    padding: 120px 20px;
}

.error-titulo {
    font-size: 3rem;
    color: #a855f7; 
    margin-bottom: 15px;
}

.error-subtitulo {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.error-texto {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.btn-volver {
    display: inline-block;
    padding: 12px 30px;
    background-color: #7c3aed;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-volver:hover {
    background-color: #702bff;
}

.audio-container {
    margin-top: 30px;
    width: 60%; 
}

audio {
    width: 100%;
    height: 40px; 
    border-radius: 10px;
    background-color: #702bff; 
}

audio::-webkit-media-controls-panel {
    background-color: #702bff; 
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-volume-slider {
    filter: invert(1);
}

.slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-top {
  0% { transform: translateY(0); }
  100% { transform: translateY(-100px); }
}
@keyframes slide-top {
  0% { transform: translateY(0); }
  100% { transform: translateY(-100px); }
}